
/* universal selectors */
* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.float-left {
    float: left;
    margin-right: 2.5em;
}

.float-right {
    float: right;
    margin-left: 2.5em;
}

/* href formatting */
a {
    color: #ffffff;
    font-size: 16px;
    margin-right: 20px;
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 2.0rem;
    padding: 0.2em;
}

.splash {
    display: block;
    text-align: center;
    position: absolute;
    top: 6em;
    left: 18em;
    width: 40rem;
    
    }
    
.timer-box {
    display: inline-flex;
    width:80%;
    margin: 1em;
    justify-content:space-between;
    font-size: 1.4rem;
    font-style: italic;
    color: darkslategray;
}

.quiz {
    display: block;
    flex:content;
    position: absolute;
    top: 6em;
    left: 18em;
    width: 40rem;
    }

.questions {
    flex: auto;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0.5em 0 0 0.5em;
    }

.choices {
    display:flex;
    flex-flow: column;
    padding: 1.2em;
}

button {
    width: 20rem;
    padding-left: 2em;
    text-align: left;
    border-color: lightblue;
    border-width: 2px;
    background-color: darkslateblue;
    color: lightblue;
    border-radius: 5px;
}

.response {
    position: relative;
    top: 12em;
    left: 18em;
    border-top: 1px solid;
    width: 30em;
    margin: .5em;
    padding: .5em;
    border-color: darkslateblue;
    color: darkslateblue;
    font-style: italic;
}
/* Footer formatting */
.footer {
    padding: 3em;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    }

.footer h2 {
    font-size: 16px;
    }   
