/* universal selectors */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

.float-left {
    float: left;
    margin-right: 2.5em;
}

.float-right {
    float: right;
    margin-left: 2.5em;
}

/* href formatting */
a {
    color: #ffffff;
    font-size: 16px;
    margin-right: 20px;
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 2.0rem;
    padding: 0.2em;
}

.timer-box {
    display: inline-flex;
    visibility: hidden;
    width: 80%;
    height: 20%;
    margin: 1em;
    justify-content: space-between;
    font-size: 1.4rem;
    font-style: italic;
    color: darkslategray;
}

.main {
    display: flex;
    height: 80%;
}

.splash,
.resultsPage {
    position: absolute;
    top: 6em;
    left: 18em;
    width: 40rem;
}

.splash {
    display: block;
    text-align: center;
}

.results-page,
.scores-page,
.quiz {
    display: none;
}

button {
    border-color: lightblue;
    border-width: 2px;
    background-color: darkslateblue;
    color: rgb(152, 185, 196);
    border-radius: 5px;

}

button:hover {
    opacity: 0.6
}

.start-btn {
    width: 8em;
    height: 3em;
    text-align: center;
    padding: 0.4em;
    margin-top: 0.5em;
}

.scores {
    display: flex;
    width: 20%;
    visibility: hidden;
}

#scores-btn {
    background: none;
    border: none
}

.enter-btn {
    width: 12rem;
    text-align: center;
    margin-right: 0.4em;
}

.choice-btn {
    width: 20rem;
    padding-left: 2em;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

.quiz {
    position: absolute;
    left: 18em;
    height: 100%;
    width: 80%;
    border-bottom: 1px solid;
    border-color: darkslateblue;
}

.questions {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0.5em 0 0 0.5em;
}

.choices {
    display: flex;
    flex-flow: column;
    padding: 1.2em;
}

.response {
    display: none;
    position: relative;
    top: 1em;
    border-top: 1px solid;
    width: 30em;
    margin: .5em;
    padding: .5em;
    color: darkslateblue;
    font-style: italic;
}

.highscore {
    list-style-type: decimal;
    width: 35rem;
    background-color: rgba(144, 72, 212, 0.75);
    padding: 0.3em;
    margin: 0.3em 1em
}

/* Footer formatting */
footer {
    padding: 0.4em;
    position: absolute;
    bottom: 0.5em;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 100%;
    height: auto;
}

footer h2 {
    font-size: 1.6rem;
}